/* font-family: 'Fira Sans', sans-serif; */
/* font-family: 'Racing Sans One', cursive; */
/* font-family: 'Roboto', sans-serif; */

:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;

    --jg-body-font: 'Roboto', sans-serif;
    --jg-heading-font: 'Racing Sans One', cursive;
    --jg-paragraph-font: 'Fira Sans', sans-serif;
}


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/img/LandingPage_576.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: var(--cf-darkblue);
    font-family: var(--jg-body-font);
}

h1 {
    font-family: var(--jg-heading-font);
    font-size: 3rem;
    line-height: 2.5rem;
}

p1 {
    font-family: var(--jg-paragraph-font);
    font-weight: 200;
    font-size: 1rem;
    font-weight: lighter;
}

.logo {
    height: 60px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;

}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}


@media (min-width: 576px) {
    body {
        background-image: url(/img/LandingPage_768.png);
        display: flex;
        flex-direction: column;
        background-size: contain;
        background-position: top right;

    }

    .container {
        height: 100%;
        padding-bottom: 2rem;

    }

    h1 {
        font-family: var(--jg-heading-font);
        font-size: 3.5rem;
        width: 100%;
        line-height: 3rem;
    }

    p1 {
        width: 100%;
        font-family: var(--jg-paragraph-font);
        font-weight: 200;
        font-size: 1.5rem;
        
        
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background-image: url(/img/LandingPage_992.png);
        background-size: contain;
        background-position: top right;

    }

    .container {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
       
    }
    h1 {
        font-family: var(--jg-heading-font);
        font-size: 3rem;
        width: 100%;
    }

    p1 {
        width: 100%;
        font-family: var(--jg-paragraph-font);
        font-weight: 200;
        font-size: 1.3rem;
    }

}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-image: url(/img/LandingPage_1200.png);
        background-size: contain;
    }

    h1 {
        font-family: var(--jg-heading-font);
        font-size: 3.4rem;
        width: 100%;
    }

    p1 {
        width: 100%;
        font-family: var(--jg-paragraph-font);
        font-weight: 200;
        font-size: 1.45rem;
        
        
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
         background-image: url(/img/LandingPage_1400.png); 
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    body {
        background-image: url(/img/LandingPage_1920.png);
    }
}